################################################################################
#
#   Clock Constraints
#
NET "ClkIn" TNM_NET = ClkIn;
#TIMESPEC TS_ClkIn = PERIOD "ClkIn" 20.833 ns HIGH 50%;  #  48.0000 MHz 3S200A-4
#TIMESPEC TS_ClkIn = PERIOD "ClkIn" 16.954 ns HIGH 50%;  #  58.9624 MHz 3S200A-4
#TIMESPEC TS_ClkIn = PERIOD "ClkIn" 13.333 ns HIGH 50%;  #  75.0000 MHz 6SLX45-2
TIMESPEC TS_ClkIn = PERIOD "ClkIn" 12.000 ns HIGH 50%;  #  83.3333 MHz 6SLX4-3
#TIMESPEC TS_ClkIn = PERIOD "ClkIn" 10.000 ns HIGH 50%;  # 100.0000 MHz 7A100T-2
#TIMESPEC TS_ClkIn = PERIOD "ClkIn"  8.000 ns HIGH 50%;  # 125.0000 MHz 7K70T-2
#TIMESPEC TS_ClkIn = PERIOD "ClkIn"  7.500 ns HIGH 50%;  # 133.3333 MHz 7K70T-2
#TIMESPEC TS_ClkIn = PERIOD "ClkIn"  6.666 ns HIGH 50%;  # 150.0000 MHz 7K70T-3
#TIMESPEC TS_ClkIn = PERIOD "ClkIn"  6.000 ns HIGH 50%;  # 166.6666 MHz 7K70T-3
#
NET "Clk_UART" TNM_NET = Clk_UART;
TIMESPEC TS_Clk_UART = PERIOD "Clk_UART" 10.000 ns HIGH 50%; # 100.0000 MHz
#TIMESPEC TS_Clk_UART = PERIOD "Clk_UART"  5.000 ns HIGH 50%; # 200.0000 MHz
#
NET "SPI_SCK" TNM_NET = SPI_SCK;
#TIMESPEC TS_SPI_SCK = PERIOD "SPI_SCK" 15.000 ns HIGH 50%;  #  66.6666 MHz
TIMESPEC TS_SPI_SCK = PERIOD "SPI_SCK" 10.000 ns HIGH 50%;  # 100.0000 MHz 
#TIMESPEC TS_SPI_SCK = PERIOD "SPI_SCK"  8.000 ns HIGH 50%;  # 125.0000 MHz 
#TIMESPEC TS_SPI_SCK = PERIOD "SPI_SCK"  6.000 ns HIGH 50%;  # 166.6666 MHz 
#
################################################################################
#
#   Area Constraints - XC7K70T-2
#
#INST "M16C5Xv2" AREA_GROUP=SOC;
#AREA_GROUP SOC RANGE=SLICE_X44Y150:SLICE_X53Y199;
##
#INST "CPU" AREA_GROUP=CPU;
#AREA_GROUP CPU RANGE=SLICE_X8Y32:SLICE_X19Y51;
##
##   This constraints matches the BMM and UCF files
###
##INST "Mram_PROM3" LOC=RAMB16_X0Y5;
##INST "Mram_PROM2" LOC=RAMB16_X0Y6;
##INST "Mram_PROM1" LOC=RAMB16_X0Y7;
###
#INST "SPI" AREA_GROUP=SPI;
#AREA_GROUP SPI RANGE=SLICE_X4Y32:SLICE_X7Y49;
##
#INST "UART" AREA_GROUP=UART;
#AREA_GROUP UART RANGE=SLICE_X4Y10:SLICE_X27Y31;
##
################################################################################
#
################################################################################
#
#   Area Constraints for the major components
##
#INST "CPU" AREA_GROUP=CPU;
#AREA_GROUP CPU RANGE=SLICE_X8Y32:SLICE_X19Y51;
##
#INST "M16C5Xv2" AREA_GROUP=Primitives;
#AREA_GROUP Primitives RANGE=SLICE_X4Y32:SLICE_X19Y51;
##
#   This constraints matches the BMM and UCF files
##
#INST "Mram_PROM3" LOC=RAMB16_X0Y5;
#INST "Mram_PROM2" LOC=RAMB16_X0Y6;
#INST "Mram_PROM1" LOC=RAMB16_X0Y7;
##
#INST "SPI" AREA_GROUP=SPI;
#AREA_GROUP SPI RANGE=SLICE_X4Y32:SLICE_X7Y49;
##
#INST "UART" AREA_GROUP=UART;
#AREA_GROUP UART RANGE=SLICE_X4Y10:SLICE_X27Y31;
##
################################################################################
#
#   Pin Constraints for Chameleon FPGA Shield Board
##
#NET "nMCLR"     LOC = P83 | IOSTANDARD = "LVCMOS33" | PULLUP ;
#NET "ClkIn"     LOC = P88 | IOSTANDARD = "LVCMOS33" ;
#NET "Clk_UART"  LOC = P85 | IOSTANDARD = "LVCMOS33" ;
##
#NET "nWDTE"     LOC = P82 | IOSTANDARD = "LVCMOS33" | PULLUP ;
#NET "PROM_WE"   LOC = P68 | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
##
#NET "nT0CKI"    LOC = P97 | IOSTANDARD = "LVCMOS33" ;
##
#NET "nCS<0>"    LOC = P27 | IOSTANDARD = "LVCMOS33" ;
#NET "nCS<1>"    LOC = P28 | IOSTANDARD = "LVCMOS33" ;
##
#NET "SCK"       LOC = P53 | IOSTANDARD = "LVCMOS33" ;
#NET "MOSI"      LOC = P46 | IOSTANDARD = "LVCMOS33" ;
#NET "MISO"      LOC = P51 | IOSTANDARD = "LVCMOS33" | PULLUP ;
##
##   Channel A
##
#NET "TD_A"      LOC = P33 | IOSTANDARD = "LVCMOS33" | SLEW = "SLOW" ;
#NET "nRTS_A"    LOC = P32 | IOSTANDARD = "LVCMOS33" ;
#NET "RD_A"      LOC = P34 | IOSTANDARD = "LVCMOS33" | PULLUP ;
#NET "nCTS_A"    LOC = P31 | IOSTANDARD = "LVCMOS33" | PULLUP ;
#NET "DE_A"      LOC = P36 | IOSTANDARD = "LVCMOS33" | SLEW = "SLOW" ;
##
##   Channel B
##
#NET "TD_B"      LOC = P20 | IOSTANDARD = "LVCMOS33" | SLEW = "SLOW" ;
#NET "nRTS_B"    LOC = P19 | IOSTANDARD = "LVCMOS33" ;
#NET "RD_B"      LOC = P21 | IOSTANDARD = "LVCMOS33" | PULLUP ;
#NET "nCTS_B"    LOC = P7  | IOSTANDARD = "LVCMOS33" | PULLUP ;
#NET "DE_B"      LOC = P23 | IOSTANDARD = "LVCMOS33" | SLEW = "SLOW" ;
##
## Test Signals
##
#NET "LED<0>"    LOC = P48 | IOSTANDARD = "LVCMOS33" ;
#NET "LED<1>"    LOC = P25 | IOSTANDARD = "LVCMOS33" ;
##