NET "Clk" TNM_NET = Clk;
#
TIMESPEC TS_Clk = PERIOD "Clk" 16.954 ns HIGH 50%;      #  58.9824 MHz 3S50A-4
#TIMESPEC TS_Clk = PERIOD "Clk" 16.666 ns HIGH 50%;      #  60.0000 MHz 3S50A-4
#TIMESPEC TS_Clk = PERIOD "Clk" 16.000 ns HIGH 50%;      #  62.5000 MHz 3S50A-4
#TIMESPEC TS_Clk = PERIOD "Clk" 15.625 ns HIGH 50%;      #  64.0000 MHz 3S50A-4
#TIMESPEC TS_Clk = PERIOD "Clk" 15.000 ns HIGH 50%;      #  66.6666 MHz 3S50A-5
#TIMESPEC TS_Clk = PERIOD "Clk" 13.563 ns HIGH 50%;      #  73.7280 MHz 3S50A-5
#TIMESPEC TS_Clk = PERIOD "Clk" 12.500 ns HIGH 50%;      #  80.0000 MHz 3S50A-5
#TIMESPEC TS_Clk = PERIOD "Clk" 11.302 ns HIGH 50%;      #  88.4736 MHz 3S50A-5
#TIMESPEC TS_Clk = PERIOD "Clk" 11.111 ns HIGH 50%;      #  90.0000 MHz 3S50A-5
#TIMESPEC TS_Clk = PERIOD "Clk" 10.416 ns HIGH 50%;      #  96.0000 MHz 3S50A-5
#TIMESPEC TS_Clk = PERIOD "Clk" 10.000 ns HIGH 50%;      # 100.0000 MHz 3S50A-5
#TIMESPEC TS_Clk = PERIOD "Clk"  8.000 ns HIGH 50%;      # 125.0000 MHz 6SLX4-3
#TIMESPEC TS_Clk = PERIOD "Clk"  7.518 ns HIGH 50%;      # 133.0000 MHz 6SLX4-3 
#
NET "nMCLR"     LOC = P82 | IOSTANDARD = "LVCMOS33" | PULLUP ;
NET "ClkIn"     LOC = P88 | IOSTANDARD = "LVCMOS33" ;
#
NET "nWDTE"     LOC = P99 | IOSTANDARD = "LVCMOS33" | PULLUP ;
NET "PROM_WE"   LOC = P39 | IOSTANDARD = "LVCMOS33" | PULLDOWN ;
#
NET "nT0CKI"    LOC = P7  | IOSTANDARD = "LVCMOS33" ;
#
#NET "nCS<0>"    LOC = P20 | IOSTANDARD = "LVCMOS33" ;
#NET "nCS<1>"    LOC = P19 | IOSTANDARD = "LVCMOS33" ;
#NET "nCS<2>"    LOC = P27 | IOSTANDARD = "LVCMOS33" ;
NET "nCS<0>"    LOC = P10 | IOSTANDARD = "LVCMOS33" ;
NET "nCS<1>"    LOC = P12 | IOSTANDARD = "LVCMOS33" ;
NET "nCS<2>"    LOC = P13 | IOSTANDARD = "LVCMOS33" ;
#
NET "SCK"       LOC = P53 | IOSTANDARD = "LVCMOS33" ;
NET "MOSI"      LOC = P46 | IOSTANDARD = "LVCMOS33" ;
NET "MISO"      LOC = P51 | IOSTANDARD = "LVCMOS33" | PULLUP ;
#
NET "TD"        LOC = P90 | IOSTANDARD = "LVCMOS33" ;
#NET "nRTS"      LOC = P94 | IOSTANDARD = "LVCMOS33" ;
NET "nRTS"      LOC = P85 | IOSTANDARD = "LVCMOS33" ;
NET "RD"        LOC = P93 | IOSTANDARD = "LVCMOS33" | PULLUP ;
NET "nCTS"      LOC = P98 | IOSTANDARD = "LVCMOS33" | PULLUP ;
#
# Test Signals
#
NET "nCSO<0>"    LOC = P20 | IOSTANDARD = "LVCMOS33" ;
NET "nCSO<1>"    LOC = P19 | IOSTANDARD = "LVCMOS33" ;
NET "nCSO<2>"    LOC = P27 | IOSTANDARD = "LVCMOS33" ;
NET "nWait"      LOC = P48 | IOSTANDARD = "LVCMOS33" ;