NET "Clk" TNM_NET = Clk;
#
#TIMESPEC TS_Clk = PERIOD "Clk" 16.954 ns HIGH 50%;      # 58.9824 MHz
TIMESPEC TS_Clk = PERIOD "Clk" 16.666 ns HIGH 50%;      # 60.0000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 16.000 ns HIGH 50%;      # 62.5000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 15.625 ns HIGH 50%;      # 64.0000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 15.000 ns HIGH 50%;      # 66.6666 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 13.563 ns HIGH 50%;      # 73.7280 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 12.500 ns HIGH 50%;      # 80.0000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 11.302 ns HIGH 50%;      # 88.4736 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 11.111 ns HIGH 50%;      # 90.0000 MHz
#
#TIMESPEC TS_P2P = FROM "PADS" TO "PADS" 20 ns;
